<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de inicio</title>
    <link rel="stylesheet" href="resources/css/styles.css">
</head>
<body>


    <nav class="nav">
        <ul class="ul-nav">
            <li class="li-nav"><%=user%></li>
            <li class="li-nav"><a href="logout" class="logout">LogOut</a></li>
        </ul>
    </nav>

    

    <% if (login) {%> 

        <div class="div-form-mensaje">
            <form action="/" method="post" class="form-mensaje">

                <select name="usuarioDestino" id="usuarioDestino">
                    <% data.forEach(e =>{ %>
                        <option value="<%=e.user%>"><%= e.user%></option>    
                    <%}) %> 
                </select>

                <textarea minlength="4" maxlength="144" name="mensaje" id="mensaje"></textarea>
                <input type="submit" value="Enviar">
            </form>
        </div>    
      


    <% }else{ %>
        <a href="login" class="login-button">Login</a>
        <a href="register" class="login-button">Registrarse</a>
    <% } %>    
    
    
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.10/dist/sweetalert2.all.min.js"></script>

<% if(typeof alert!="undefined"){ %>
    <script>
        Swal.fire({
            titlte:"<%= alerTitle %>",
            text:"<%= alertMessage %>",
            icon:"<%= alertIcon %>",
            showConfirmButton:"<%= showConfirmButton %>",
            timer:"<%= timer %>"
        }).then(()=>{
            window.location="/<%= ruta %>"
        })
    </script> 
<% } %> 

</body>
</html>